#pagination
  #stats
    = pagination_stats(@tweets.total_entries,@page,@per_page)
  #sort
    Sort by: 
    - if @direction=='asc'
      %a{:href=>url_for(request.path_info, {"direction" => 'desc'})} Latest
      %span Oldest
      - label_prev = "Newer »"
      - label_next = "« Older"
    - else
      %span Latest
      %a{:href=>url_for(request.path_info, {"direction" => 'asc'})} Oldest
      - label_prev = "Older »"
      - label_next = "« Newer"
  #nextprevious
    - if @tweets.previous_page
      %a{:href=>url_for(request.path_info, {"page" => @tweets.previous_page.to_s})}= label_next
    - else
      = label_next
    - if @tweets.next_page
      %a{:href=>url_for(request.path_info, {"page" => @tweets.next_page.to_s})}= label_prev
    - else
      = label_prev
