-if @count > 0
  #pagination
    #stats
      = pagination_stats(@count, @page, @per_page)
      sorted by
      - if @direction=='asc'
        %a{:href=>url_for(request.path_info, {'direction' => 'desc', 'page' => '1'})} Newest
        %span Oldest
        - label_prev = "Older"
        - label_next = "Newer"
      - else
        %span Newest
        %a{:href=>url_for(request.path_info, {'direction' => 'asc', 'page' => '1'})} Oldest
        - label_prev = "Newer"
        - label_next = "Older"

    #nextprevious
      = will_paginate @tweets, { :previous_label => "« #{label_prev}", :next_label => "#{label_next} »", :page_links => false }

