- content_for :pagination do
  =partial :pagination

- @page_title = "A Twitter archive for @#{ENV['TWEETDEN_SCREEN_NAME']}"

- @tweets.each do |tweet|
  - if tweet['retweeted_status']
    =partial :'retweet', :locals => { :retweet => tweet }
  - else
    =partial :'tweet', :locals => { :tweet => tweet }
