- content_for :pagination do
  = partial :pagination

- @page_title = "A Twitter archive for @#{ENV['TWEETDEN_SCREEN_NAME']}"

-if @count > 0
  - @tweets.each do |tweet|
    - if tweet.attrs.retweeted_status
      = partial :retweet, :locals => { :retweet => tweet }
    - else
      = partial :tweet, :locals => { :tweet => tweet }
-else
  No tweets found

